extends layout

block content
  h1 ASTRA
  p.lead The Real Time Asset Tracker
  hr
  .row
    .col-md-6
      h2 Asset Tracking
      p Admin dashboard for Asset Tracking for superusers and Admins.
      p
        a.btn.btn-raised(href='#', role='button') View details
    .col-md-6
      h2 Data Analysis
      p Data gathering and pattern mining for location based insights on working patterns.
      p
        a.btn.btn-raised(href='#', role='button') View details